<div class="main-wraper">

    <section class="section bg-profile no-printing" id="profile_ripple">
        <div class="zoo-profile">
            <div class="container">                   
                <div class="row">
                    <div class="col-sm-6 col-print-6 align-self-center mb-3 mb-lg-0">
                        <div class="zoo-profile-main">
                            <div class="zoo-profile-main-pic">
                                <img src="../../assets/images/my-profile-pic.jpg" alt="" class="rounded-circle" width="120" height="120">
                                <span class="zoo-user-chat">
                                    <i class="uil uil-medium-m"></i>
                                </span>
                            </div><!--end zoo-profile-main-pic-->
                            <div class="zoo-profile_user-detail">
                                <h5 class="zoo-user-name">Michael Olujuwon</h5>                                                        
                                <p class="cd-headline loading-bar">
                                    <span class="cd-words-wrapper">
                                        <b class="is-visible">Node.js (Express.js)</b>
                                        <b class="no-print">Angular Developer</b>
                                        <b class="no-print">React Developer</b>
                                        <b class="no-print">Next.js Developer</b>
                                        <b class="no-print">Angular Developer</b>
                                        <b class="no-print">React Native Developer</b>
                                        <b class="no-print">Flutter Developer</b>
                                        <b class="no-print">MongoDB</b>
                                        <b class="no-print">MySQL</b>
                                        <b class="no-print">PostgreSQL</b>
                                        <b class="no-print">GraphQL</b>
                                        <b class="no-print">Apollo-Server</b>
                                        <b class="no-print">Springboot Developer</b>
                                        <b class="no-print">Full Stack Developer</b>
                                    </span>
                                </p>
                            </div><!--end zoo-profile_user-detail-->
                        </div> <!--end profile-main-pic-->                                               
                    </div><!--end col-->
                    <div class="col-sm-4 col-print-4 ml-auto">
                        <ul class="list-unstyled personal-detail">
                            <li><i class="'uil uil-phone-volume mr-2"></i> <b> phone </b> : +2348038426058</li>
                            <li class="mt-2"><i class="uil uil-envelope mt-2 mr-2"></i> <b> Email </b> : mikejuwon737@gmail.com</li>
                            <li class="mt-2"><i class="uil uil-map-marker mt-2 mr-2"></i> <b> Location </b> : Nigeria</li>
                        </ul><!--end personal-detail-->
                        <ul class="list-inline social-icon mb-0">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/michael-olujuwon-0b1b3b1a3/" class="bg-blue">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.github.com/mikejuwon" class="bg-blue">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </li>
                            <!-- skype -->
                            <li class="list-inline-item">
                                <a href="https://www.skype.com/en" class="bg-blue">
                                    <i class="fa-brands fa-skype"></i>
                                </a>
                            </li>
                        </ul><!--end social-icon-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->  
        </div><!--end zoo-profile-->
    </section><!--end section-->


    <section class="section bg-profile profile-printing" id="profile_ripple">
        <div class="zoo-profile">
            <div class="container">                   
                <div class="row">
                    <div class="col-sm-6 col-print-6 align-self-center mb-3 mb-lg-0">
                        <div class="zoo-profile-main">
                            <div class="zoo-profile-main-pic">
                                <img src="../../assets/images/my-profile-pic.jpg" alt="" class="rounded-circle" width="120" height="120">
                                <span class="zoo-user-chat">
                                    <i class="uil uil-medium-m"></i>
                                </span>
                            </div><!--end zoo-profile-main-pic-->
                            <div class="zoo-profile_user-detail">
                                <h5 class="zoo-user-name">Michael Olujuwon</h5>                                                        
                                <p class="cd-headline loading-bar">
                                    <span class="cd-words-wrapper">
                                        <b class="is-visible">Full Stack Developer</b>
                                    </span>
                                </p>
                            </div><!--end zoo-profile_user-detail-->
                        </div> <!--end profile-main-pic-->                                               
                    </div><!--end col-->
                    <div class="col-sm-4 col-print-4 ml-auto">
                        <ul class="list-unstyled personal-detail">
                            <li><i class="'uil uil-phone-volume mr-2"></i> <b> phone </b> : +2348038426058</li>
                            <li class="mt-2"><i class="uil uil-envelope mt-2 mr-2"></i> <b> Email </b> : mikejuwon737@gmail.com</li>
                            <li class="mt-2"><i class="uil uil-map-marker mt-2 mr-2"></i> <b> Location </b> : Nigeria</li>
                        </ul><!--end personal-detail-->
                        <ul class="list-inline social-icon mb-0">
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/michael-olujuwon-0b1b3b1a3/" class="bg-blue">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.github.com/mikejuwon" class="bg-blue">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </li>
                            <!-- skype -->
                            <li class="list-inline-item">
                                <a href="https://www.skype.com/en" class="bg-blue">
                                    <i class="fa-brands fa-skype"></i>
                                </a>
                            </li>
                        </ul><!--end social-icon-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->  
        </div><!--end zoo-profile-->
    </section><!--end section-->

    <section class="section-md">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="header-title mb-3">About Me</h4>
                </div><!--end col-->
                <div class="col-sm-6 col-print-6">
                    <h4 class="text-primary font-weight-bold">I'm Michael Olujuwon</h4>
                    
                    <p>
                        I'm a Full Stack Developer with a passion for building scalable and maintainable web applications. I have a strong background in building web applications with Node.js (Express.js), React.js, Next.js, Angular, React Native, Flutter, Springboot, Apollo-Server and working with MongoDB, MySQL, PostgreSQL, GraphQL. I'm also a strong advocate of Test Driven Development (TDD) and I'm always looking for ways to improve my code quality and efficiency.
                    </p>
                    <button type="button" class="btn btn-sm btn-primary bg-blue" (click)="printPage()">Print &amp; Download CV</button>
                </div><!--end col-->
                <div class="col-sm-5 col-print-5 offset-lg-1 align-self-center">
                    <p>
                        <span class="personal-detail-title">Name</span>
                        <span class="personal-detail-info">Michael Olujuwon</span>
                    </p>
                    <p>
                        <span class="personal-detail-title">Spoken Langages</span>
                        <span class="personal-detail-info">English - Yoruba - Hausa</span>
                    </p>
                    <p>
                        <span class="personal-detail-title">Nationality</span>
                        <span class="personal-detail-info">Nigerian</span>
                    </p>
                    <p>
                        <span class="personal-detail-title">Interest</span>
                        <span class="personal-detail-info">Music, Coding, Studying, Gaming</span>
                    </p>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->

    <section class="section-md">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="header-title mb-3">Education & Skills</h4>
                </div><!--end col-->
                <div class="col-sm-6 col-print-6">
                    <div class="row">
                        <div class="col-sm-6 col-print-6">
                            <div class="resume-icon">
                                <i class="uil uil-graduation-hat"></i>
                                <h5 class="mt-n2">Education</h5>
                            </div><!--end resume-icon--> 
                            <div class="timeline">
                                <div class="time-item mt-3">
                                    <div class="item-info">
                                        <div class="font-14">2021</div>
                                        <h5 class="my-1">Federal University of Technology, Minna</h5>
                                        <p>B.Tech Cyber Security Science</p>
                                    </div>
                                </div>
                            </div><!--end timeline-->
                        </div><!--end col-->
                        <div class="col-sm-6 col-print-6">
                            <div class="resume-icon">
                                <i class="uil uil-suitcase-alt"></i>
                                <h5 class="mt-n2">Experience</h5>
                            </div><!--end resume-icon-->   
                            <div class="timeline">   
                                <div class="time-item mt-3">
                                    <div class="item-info">
                                        <div class="font-14">2022</div>
                                        <h5 class="my-1">Full Stack Developer</h5>
                                        <p>Oasis Management Company</p>
                                    </div>
                                </div><!--end time-item-->  
                            </div><!--end timeline-->   
                        </div><!--end col-->   
                    </div><!--end row-->   
                </div><!--end col-->
                <div class="col-sm-6 col-print-6 align-self-center">
                    <div class="timeline">
                        <div class="time-item mt-3">
                            <div class="item-info">
                                <h5 class="my-1">Web Development</h5>
                                <span class="badge badge-soft-primary bg-light mr-3 mb-1" style="font-size: 1.3rem;">Node.js</span>
                                <span class="badge badge-soft-primary bg-light mr-3 mb-1" style="font-size: 1.3rem;">Express.js</span>
                                <span class="badge badge-soft-primary bg-light mr-3 mb-1" style="font-size: 1.3rem;">React.js</span>
                                <span class="badge badge-soft-primary bg-light mr-3 mb-1" style="font-size: 1.3rem;">Next.js</span>
                                <span class="badge badge-soft-primary bg-light mr-3 mb-1" style="font-size: 1.3rem;">Angular</span>
                                <span class="badge badge-soft-primary bg-light mr-3 mb-1" style="font-size: 1.3rem;">Springboot</span>
                                <span class="badge badge-soft-primary bg-light mr-3 mb-1" style="font-size: 1.3rem;">Apollo-Server</span>
                                <span class="badge badge-soft-primary bg-light mr-3 mb-1" style="font-size: 1.3rem;">GraphQL</span>
                            </div>
                        </div><!--end time-item--> 
                        <div class="time-item mt-3">
                            <div class="item-info">
                                <h5 class="my-1">Mobile Development</h5>
                                <span class="badge badge-soft-primary bg-light mr-3" style="font-size: 1.3rem;">React Native</span>
                                <span class="badge badge-soft-primary bg-light mr-3" style="font-size: 1.3rem;">Flutter</span>
                            </div>
                        </div><!--end time-item-->
                        <div class="time-item mt-3">
                            <div class="item-info">
                                <h5 class="my-1">Database Management</h5>
                                <span class="badge badge-soft-primary bg-light mr-3" style="font-size: 1.3rem;">MongoDB</span>
                                <span class="badge badge-soft-primary bg-light mr-3" style="font-size: 1.3rem;">MySQL</span>
                                <span class="badge badge-soft-primary bg-light mr-3" style="font-size: 1.3rem;">PostgreSQL</span>
                            </div>
                        </div><!--end time-item-->
                    </div><!--end timeline-->
                </div><!--end col-->
                                    
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->

    <section class="bg-funfact section-md">
        <div class="container">
            <div class="row justify-content-center" id="counter">
                <div class="col-sm-4 digit-counter">
                    <div class="media">
                        <i class="uil uil-cell text-warning mr-2 align-self-center"></i>
                        <div class="media-body align-self-center">
                            <h3 class="mb-1"><span class="counter-value" data-count="10">1</span>+</h3>  
                            <h5 class="counter-name mt-0">Completed Projects</h5>
                        </div>
                    </div><!--end media-->   
                </div><!--end col-->
                <div class="col-sm-4 digit-counter">
                    <div class="media">
                        <i class="uil uil-smile text-success mr-2 align-self-center"></i>
                        <div class="media-body align-self-center">
                            <h3 class="mb-1"><span class="counter-value" data-count="5">1</span>+</h3>
                            <h5 class="counter-name mt-0">Happy Clients</h5>
                        </div>
                    </div> <!--end media-->   
                </div><!--end col--> 
                <!-- <div class="col-sm-4 digit-counter">
                    <div class="media">
                        <i class="uil uil-trophy text-pink mr-2 align-self-center"></i>
                        <div class="media-body align-self-center">
                            <h3 class="mb-1"><span class="counter-value" data-count="21">1</span></h3>
                            <h5 class="counter-name mt-0">Awards Received</h5>
                        </div>
                    </div>   
                </div>            -->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->

    <section class="section-md my-work">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="header-title mb-3">My Works & Review</h4>
                </div><!--end col-->   
                <div class="col-sm-6 col-print-6 align-self-center">
                    <div class="p-4">
                        <div class="text-center">
                            <h2><i class="uil uil-feedback text-primary"></i></h2>
                        </div> <!--end /div-->                                           
                        <div id="carouselExampleFade2" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item">
                                    <div class="text-center">
                                        <p class="px-4">
                                            Juwon is a very talented developer. He is very professional and has a great work ethic. He is very knowledgeable and has a great understanding of the technologies he uses. He is very easy to work with and is very responsive. I would highly recommend him for any project.
                                        </p>
                                        <div>
                                            <img src="../../assets/images/users/user-10.jpg" alt="" class="rounded-circle thumb-md mb-2">
                                            <p class="mb-0 text-primary"><b>- Mr. Gbenedio</b></p>
                                            <small class="text-muted">CEO Quantum Cloud</small>
                                        </div>                                                            
                                    </div>
                                </div><!--end carousel-item-->
                                <div class="carousel-item active">
                                    <div class="text-center">
                                        <p class="px-4">                                                                
                                           I gave Juwon a project to build a website for my band. He was very professional and delivered the project on time. He was very responsive and was always available to answer my questions. I would highly recommend him for any project.
                                        </p>
                                        <div>
                                            <img src="../../assets/images/users/user-5.jpg" alt="" class="rounded-circle thumb-md mb-2">
                                            <p class="mb-0 text-primary"><b>- Mrs. Afolashade</b></p>
                                            <small class="text-muted">Engraced Music</small>
                                        </div>                                                            
                                    </div>
                                </div><!--end carousel-item-->
                            </div><!--end carousel-inner-->                                    
                        </div><!--end carousel-->
                    </div><!--end /div-->
                </div><!--end col-->  
                    
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-12">                                   
                            <div class="row">
                                <ul class="col container-filter categories-filter mb-4" id="filter">
                                    <li><a class="categories active" data-filter="*">All</a></li>
                                    <li><a class="categories" data-filter=".web">Web</a></li>
                                    <li><a class="categories" data-filter=".mobile">Mobile</a></li>
                                </ul><!--end col-->  
                            </div><!-- End portfolio  -->                                    
                            
                            <div class="row container-grid nf-col-3  projects-wrapper">
                                <div class="col-md-4 col-6 p-0 nf-item web">
                                    <div class="item-box">
                                        <a class="cbox-gallary1 mfp-image" href="../../assets/images/portfolio/1.jpg" title="Apple">
                                            <img class="item-container " src="../../assets/images/portfolio/1.jpg" alt="7" />
                                            <div class="item-mask">
                                                <div class="item-caption">
                                                    <h5 class="text-white">Botanics</h5>
                                                    <p class="text-white">Web App</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div><!--end item-box-->
                                </div><!--end col-->
                
                                <div class="col-md-4 col-6 p-0 nf-item mobile">
                                    <div class="item-box">
                                        <a class="cbox-gallary1 mfp-image" href="../../assets/images/portfolio/2.jpg" title="Samsung">
                                            <img class="item-container mfp-fade" src="../../assets/images/portfolio/2.jpg" alt="2" />
                                            <div class="item-mask">
                                                <div class="item-caption">
                                                    <h5 class="text-light">Spark</h5>
                                                    <p class="text-light">Android &amp; iOs</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div><!--end item-box-->
                                </div><!--end col-->
                
                                <div class="col-md-4 col-6 p-0 nf-item design web">
                                    <div class="item-box">
                                        <a class="cbox-gallary1 mfp-image" href="../../assets/images/portfolio/3.jpg" title="Facebook">
                                            <img class="item-container" src="../../assets/images/portfolio/3.jpg" alt="4" />
                                            <div class="item-mask">
                                                <div class="item-caption">
                                                    <h5 class="text-light">University Portal</h5>
                                                    <p class="text-light">Web App</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div><!--end item-box-->
                                </div><!--end col-->
                
                                <div class="col-md-4 col-6 p-0 nf-item design mobile">
                                    <div class="item-box">
                                        <a class="cbox-gallary1 mfp-image" href="../../assets/images/portfolio/5.jpg" title="WhatsApp">
                                            <img class="item-container" src="../../assets/images/portfolio/5.jpg" alt="5" />
                                            <div class="item-mask">
                                                <div class="item-caption">
                                                    <h5 class="text-light">WhatsApp</h5>
                                                    <p class="text-light">Android &amp; iOs</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div><!--end item-box-->
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end col-->
                    </div><!--end row--> 
                </div><!--end col-->  
            </div><!--end row-->  
        </div><!--end container-->  
    </section> <!--end section--> 

    <section class="section-md my-clients">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-2 col-6 mb-2">
                    <img src="../../assets/images/brand/nodejs-icon.png" alt="" width="75" height="80">
                </div><!--end col-->
                <div class="col-md-2 col-6 mb-2">
                    <img src="../../assets/images/brand/angular-icon.png" alt="" width="75" height="80">
                </div><!--end col-->
                <div class="col-md-2 col-6 mb-2">
                    <img src="../../assets/images/brand/react-icon.png" alt="" width="75" height="70">
                </div><!--end col-->
                <div class="col-md-2 col-6 mb-2">
                    <img src="../../assets/images/brand/react-native-icon.png" alt="" width="75" height="70">
                </div><!--end col-->
                <div class="col-md-2 col-6 mb-2">
                    <img src="../../assets/images/brand/springboot-logo.png" alt="" width="75" height="70">
                </div><!--end col-->
                <div class="col-md-2 col-6 mb-2">
                    <img src="../../assets/images/brand/next.png" alt="" width="75" height="70">
                </div> <!--end col-->       
                <!-- <div class="col-md-2 col-6">
                    <img src="../../assets/images/brand/1.png" alt="" width="150" height="80">
                </div> -->
            </div><!--end row-->  
        </div><!--end container--> 
    </section><!--end section-->

    <section class="section-md contact-form">
        <div class="container">                    
            <div class="row">
                <div class="col-12 mb-3">
                    <h4 class="header-title mb-3">Contact Me</h4>
                </div> <!--end col-->
                <div class="col-sm-4">
                    <div class="contact-info">
                        <div class="icon">
                            <i class='uil uil-phone-volume'></i>
                        </div>                    
                        <div class="content">
                            <h5>Call me on:</h5>
                            <span>
                                <a href="tel:+2348038426058">+2348038426058</a>
                            </span>
                        </div>
                    </div><!--end contact-info-->

                    <div class="contact-info">
                        <div class="icon">
                            <i class='uil uil-envelope'></i>
                        </div>                    
                        <div class="content">
                            <h5>Mail Me:</h5>
                            <span>
                                <a href="mailto:mikejuwon737@gmail.com">mikejuwon737@gmail.com</a>
                            </span>
                        </div>
                    </div><!--end contact-info-->

                    <!-- <div class="contact-info">
                        <div class="icon">
                            <i class='uil uil-map-marker'></i>
                        </div>                    
                        <div class="content">
                            <h5>Find Me:</h5>
                            <span>
                                <a href="https://goo.gl/maps/6Z7Q9Z9Z9Z9Z9Z9Z9" target="_blank">Lagos, Nigeria</a>
                            </span>
                        </div>
                    </div> -->
                </div><!--end col--> 
                <div class="col-sm-8">
                    <div class="contact-form">
                        <div id="message"></div>
                        <form method="post" action="php/contact.php" name="contact-form" id="contact-form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Name</label>
                                    <input type="text" name="name" class="form-control" id="name">
                                </div><!--end col-->
                                <div class="form-group col-md-6">
                                    <label>Email address</label>
                                    <input type="email" name="email" class="form-control" id="email">
                                </div><!--end col-->
                                <div class="form-group col-md-12">
                                    <label>Message</label>
                                    <textarea rows="4" name="message" class="form-control" id="comments"></textarea>
                                </div><!--end col-->
                                <div class="form-group col-md-12">                                           
                                    <input type="submit" value="Submit now" name="submit" id="submit" class="btn btn-primary px-5 py-2">
                                    <div id="simple-msg"></div>                                           
                                </div><!--end col-->
                            </div><!--end row-->
                        </form><!--end form-->
                    </div><!--end contact-form-->
                </div><!--end col--> 
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->

    <section class="section-md thanks-text">
        <div class="container">                    
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">
                        Thanks for visiting my portfolio.
                    </h3>
                </div> <!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->

